@import '../../assets/styles/app-color';

.pet-list-item{
    padding: .5rem;
    border-bottom: 1px solid #f3f3f3;
    & a {
        text-decoration: none;
    }
}

.pet-list-item--padding-top {
    padding-top: 10px;
}

.add-pet {
    margin-top: 1rem;
}
.add-pet-form {
    background: $soft-white;
    &__input {
        padding: .5rem;
    }
}
.add-pet-form__title
{
    text-transform: uppercase;
    color: #616161;
    background: #dadada;
    padding: 1rem;
}
.add-pet-form__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem .5rem;
}

.add-pet-form__type-select {
    margin-top: 1rem;
}

.add-pet-form__name {
    margin-top: -.5rem;
}
