@import '../../assets/styles/app-color';
@import '../../assets/styles/app-import';

.appointment-slot {
    margin-bottom: .5rem;
    color: #636363;
    background: white;
    padding: 1rem;
    box-shadow: 1px 5px 13px 0px #e2e2e2;
}
